<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.cinek.adblocker.mod">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ADBlocker Mod"
        android:supportsRtl="true">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />
        <meta-data
            android:name="xposeddescription"
            android:value="ADBlocker Mod" />
    </application>

</manifest>
